:root {
  --blue: #273fad;
  --green: #b91c1c;
  --red: #ad273f;
  --background: #27272a;
  --shapes: #27272a;
  --text-title: #e2e8f0;
  --text: #e2e8f0;
  --text-light: #a09cb1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Poppins", Arial, sans-serif;
  color: #27272a;
  background-color: #171717;
}

input,
textarea {
  font-family: "Poppins";
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2.5rem 1rem;
}

button,
.checkmark {
  cursor: pointer;
}
